[run]
update = { filetype = "bash", command = "nix flake update"}

[run.build]
filetype = "bash"
command = """
set -e

nixos-rebuild build --flake .
nvd diff /run/current-system ./result

echo
read -p "Switch[Ss]/Boot[Bb] " -r
if [[ $REPLY =~ ^[Ss] ]]; then
  doas ./result/bin/switch-to-configuration switch
elif [[ $REPLY =~ ^[Bb] ]]; then
  doas ./result/bin/switch-to-configuration boot
else
  echo "Cancelled"
fi
"""

[run.iommu]
filetype = "bash"
command = """
shopt -s nullglob
for d in /sys/kernel/iommu_groups/*/devices/*; do 
    n=${d#*/iommu_groups/*}; n=${n%%/*}
    printf 'IOMMU Group %s ' "$n"
    lspci -nns "${d##*/}"
done;
"""

[run.coven]
filetype = "bash"
command = """
nix run github:nix-community/nixos-anywhere -- \
  --env-password \
  --flake .#day --target-host nixos@192.168.2.56
"""

[run.bootstrap]
filetype = "bash"
command = """
flux bootstrap git \
  --url=ssh://git@github.com/andrewkreuzer/manifests \
  --branch=main \
  --private-key-file=/home/akreuzer/.ssh/id_ecdsa_flux \
  --path=clusters/coven \
  --components-extra image-reflector-controller,image-automation-controller,source-watcher
"""

[repos]
