apiVersion: apps/v1
kind: Deployment
metadata:
  name: metrics-server
  namespace: kube-system
spec:
  template:
    spec:
      containers:
      - name: metrics-server
        args:
        - --cert-dir=/tmp
        - --secure-port=10250
        - --kubelet-preferred-address-types=InternalIP,ExternalIP,Hostname
        - --kubelet-use-node-status-port
        - --metric-resolution=15s
        - --requestheader-client-ca-file=/ca/front-proxy-ca.crt
        volumeMounts:
        - mountPath: /tmp
          name: tmp-dir
        - mountPath: /ca
          name: ca-dir
      volumes:
      - emptyDir: {}
        name: tmp-dir
      - configMap:
          defaultMode: 420
          name: front-proxy-ca
        name: ca-dir
